.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
    width: 1360px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1310px;
}

.titleButton {
    border-radius: 6px;
    background: var(--Lime-400, #b1ff2e);
    width: 198px;
    height: 48px;
}

.mobileOnly {
    display: none;
}

@media (max-width: 1024px) {
    .mobileOnly {
        display: block;
    }
}
