.tab {
    color: var(--Lime-800, #134b00);
    font-weight: 500;
    white-space: nowrap;
}

.tab:hover {
    color: var(--Lime-600, #2db100);
    border-bottom: 2px solid var(--Lime-600, #2db100);
}

.activeTab {
    color: var(--Lime-600, #2db100);
    border-bottom: 2px solid var(--Lime-600, #2db100);
}

.tabsContainer {
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    gap: 12px;
    padding-bottom: 4px;
}

/* media */
@media (max-width: 768px) {
    .tabsContainer {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .tabsContainer {
        width: 100%;
    }
}
