.tabsWrapper {
    overflow-x: auto;
    width: 100vw;
    -webkit-overflow-scrolling: touch;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 24px;
    border-bottom: 1px solid var(--blackAlpha-200, rgba(0, 0, 0, 0.08));
    margin-top: 44px;
    width: max-content;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tab {
    color: var(--Lime-800, #134b00);
    text-decoration: none;
    font-weight: 500;
    padding: 8px 4px;
    border-bottom: 2px solid transparent;
}

.tab:hover {
    color: var(--Lime-600, #2db100);
    border-bottom: 2px solid var(--Lime-600, #2db100);
}

.active {
    color: var(--Lime-600, #2db100);
    border-bottom: 2px solid var(--Lime-600, #2db100);
}

@media (max-width: 768px) {
    .tabs {
        width: 768px;
    }
}

@media (max-width: 360px) {
    .tabs {
        width: 360px;
    }
}
