.submenuItem {
    position: relative;
    cursor: pointer;
    color: var(--black, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 20px;
}

.submenuItem:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: var(--Lime-300, #c4ff61);
    border-radius: 2px;
}

.submenuItem.active {
    font-weight: bold;
    color: #000;
}

.submenuItem:hover {
    font-weight: bold;
}

.submenuItem:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: var(--Lime-300, #c4ff61);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.submenuItem.active:before,
.submenuItem:hover:before {
    width: 8px;
    height: 28px;
}
