.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 54px;
}

.cardsContainer {
    margin-top: 54px;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
}

.button {
    border-radius: 6px;
    background: var(--Lime-400, #b1ff2e);
    width: 152px;
    height: 40px;
    margin-top: 24px;
}

@media (max-width: 356px) {
    .container {
        width: 356px;
    }
}
