:global(.swiper) {
    overflow: visible !important;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    gap: 24px;
    position: relative;
    max-width: 1360px;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 16px;
}

.swiperWrapper {
    position: relative;
    padding-bottom: 16px;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 45%;
    z-index: 100;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.arrowLeft {
    left: -2px;
}

.arrowRight {
    right: -2px;
}

@media (max-width: 768px) {
    .container {
        gap: 12px;
        width: 768px;
    }

    .cardsContainer {
        gap: 100px;
    }

    .arrowLeft,
    .arrowRight {
        display: none;
    }
}

@media (max-width: 360px) {
    .container {
        gap: 12px;
        width: 360px;
    }

    .cardsContainer {
        gap: 12px;
    }

    .arrowLeft,
    .arrowRight {
        display: none;
    }
}
