.container {
    display: flex;
    flex-direction: column;
    height: 304px;
    width: 100%;
    border-radius: 16px;
    background: var(--Lime-300, #c4ff61);
    margin-top: 40px;
    padding: 24px;
    gap: 24px;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.reviewContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 768px) {
    .container {
        width: 728px;
        height: 272px;
        gap: 12px;
    }

    .reviewContainer {
        gap: 16px;
    }
}

@media (max-width: 360px) {
    .container {
        width: 328px;
        height: 600px;
        gap: 12px;
        padding: 6px;
    }

    .reviewContainer {
        display: flex;
        flex-direction: column;
        padding: 6px;
        gap: 12px;
    }

    .titleWrapper {
        padding-left: 8px;
    }
}
