.sidebar {
    display: flex;
    width: 256px;
    height: 1040px;
    padding-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 80px;
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 transparent;
    z-index: 1000;
    background: var(--background-paper-elevation-1, #fff);
    overflow-x: hidden;
}

.scrollableContent {
    overflow-y: auto;
    flex: 1 1 auto;
    height: 872px;
    width: 100%;
}

.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--blackAlpha-100, rgba(0, 0, 0, 0.06));
}

.submenuItem {
    position: relative;
    cursor: pointer;
    color: var(--black, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 20px;
}

.submenuItem:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: var(--Lime-300, #c4ff61);
    border-radius: 2px;
}

.submenuItem.active {
    font-weight: bold;
    color: #000;
}

.submenuItem:hover {
    font-weight: bold;
}

.submenuItem:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: var(--Lime-300, #c4ff61);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.submenuItem.active:before,
.submenuItem:hover:before {
    width: 8px;
    height: 28px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 228px;
}

.version {
    color: var(--blackAlpha-400, rgba(0, 0, 0, 0.24));
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.sidebarFooter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 208px;
    margin-left: 24px;
    margin-bottom: 20px;
}

.text {
    color: var(--blackAlpha-700, rgba(0, 0, 0, 0.64));
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.exit {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.exitText {
    color: var(--black, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.itemIcon {
    margin-right: 6px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
