.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 24px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}

.text {
    width: 100%;
    color: var(--blackAlpha-700, rgba(0, 0, 0, 0.64));
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    line-height: clamp(20px, 2vw, 24px);
}

.cardContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.lineCardsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.allCardsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 360px) {
    .footer {
        width: 340px;
    }

    .text {
        width: 328px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .cardContainer {
        flex-direction: column;
    }

    .allCardsContainer {
        flex-direction: column;
    }
}
