.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 898px;
    height: 100%;
    border-radius: 24px;
    background: #fff;
    transition:
        box-shadow 0.3s ease,
        background-color 0.3s ease;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0 auto;
}

.sectionHeader.active {
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.title {
    color: var(--black, #000);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: clamp(32px, 2vw, 48px);
    position: relative;
    z-index: 10;
}

.filterIcon {
    width: 48px;
    height: 48px;
}

.description {
    max-width: 696px;
    width: 100%;
    color: var(--blackAlpha-600, rgba(0, 0, 0, 0.48));
    text-align: center;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    line-height: 24px;
}

.input {
    width: 458px !important;
    position: relative;
}

.input::placeholder {
    color: var(--Lime-800, #134b00);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.inputWrapper {
    position: relative;
    display: flex;
}

.searchIcon {
    position: relative;
    right: 40px;
    z-index: 1000;
}

.disabledIcon {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.filterInputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    z-index: 1000;
}

.toggleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.selectWrapper {
    display: flex;
    gap: 16px;
}

.select {
    width: 234px;
    border: 1px solid transparent;
}

.activeSelect {
    border: 1px solid #2db100;
}

@media (max-width: 768px) {
    .input {
        width: 404px !important;
    }

    .sectionHeader {
        gap: 6px;
        width: 600px;
    }

    .title {
        font-size: 24px;
    }

    .filterIcon {
        width: 36px;
        height: 36px;
    }

    .input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .input {
        width: 284px !important;
    }

    .sectionHeader {
        width: 360px;
        padding-left: 16px;
    }

    .filterIcon {
        width: 32px;
        height: 32px;
    }

    .description {
        width: 328px;
    }
}
