.sidebar {
    display: flex;
    justify-content: space-between;
    width: 256px;
    height: calc(100vh - 80px);
    max-height: 1040px;
    padding-top: 24px;
    padding-right: 56px;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 1000;
    background: var(--background-paper-elevation-1, #fff);
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.number {
    color: var(--Lime-600, #2db100);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.recipeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recipeButton {
    display: flex;
    position: relative;
    left: 70px;
}

.pencilIcon {
    display: flex;
    position: absolute;
    top: 80px;
    left: 80px;
}

.smallText {
    display: flex;
    position: absolute;
    bottom: 55px;
    left: 125px;
    width: 100%;
    color: var(--blackAlpha-700, rgba(0, 0, 0, 0.64));
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
