.recipeCard {
    width: 322px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--blackAlpha-200, rgba(0, 0, 0, 0.08));
    background: var(--white, #fff);
    overflow: hidden;
    position: relative;
}

.image {
    width: 322px;
    height: 230px;
    flex-shrink: 0;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 10px 22px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title {
    color: var(--black, #000);
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 500;
    line-height: clamp(20px, 2vw, 28px);
    width: 274px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    height: 64px;
    color: var(--black, #000);
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    color: var(--black, #000);
    font-size: clamp(12px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
    padding-right: 4px;
    gap: 8px;
    cursor: default;
    width: 100%;
}

.iconLabelWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--Lime-150, #d7ff94);
    border-radius: 4px;
    padding: 0 4px;
    gap: 6px;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.number {
    color: var(--Lime-600, #2db100);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
    gap: 8px;
}

.countContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

@media (max-width: 768px) {
    .recipeCard {
        width: 158px;
        height: 200px;
    }

    .image {
        width: 158px;
        height: 128px;
    }

    .title {
        width: 138px;
    }

    .descriptionContainer {
        margin: 6px 12px;
    }

    .labelContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-radius: 4px;
        background: var(--Lime-150, #d7ff94);
        top: 4px;
        left: 5px;
    }

    .recipeCard.expanded {
        width: 232px;
        height: 182px;
    }

    .recipeCard.expanded .labelContainer {
        left: 8px;
        top: 150px;
    }

    .recipeCard.expanded .iconsContainer {
        position: absolute;
        bottom: 10px;
        right: 8px;
    }
}

@media (max-width: 360px) {
    .recipeCard.recipeCard.expanded {
        width: 328px;
        height: 168px;
    }

    .recipeCard.expanded .labelContainer {
        left: 8px;
        top: 135px;
    }
}
